# python install -r requirements.txt
beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.17
music-tag==0.4.3
mutagen==1.47.0
RapidFuzz==3.14.5
requests==2.34.2
soupsieve==2.8.4
syncedlyrics==1.0.1
typing_extensions==4.15.0
urllib3==2.7.0
